body {
  background-image: url(gambar/4f39e75a5133c1e139135c85ff946965.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

legend {
  -webkit-text-stroke: 0.8px white;
  text-align: center;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
fieldset {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 95px -30px rgba(194, 38, 38, 0.3);
  padding: 20px 0;
  border-radius: 28px;
  border-color: rgba(171, 116, 185, 255);
  margin-top: 80px;
  width: 50%;
}
form {
  display: flex;
  justify-content: center;
}

fieldset p {
  padding: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}

fieldset input {
  display: flex;
  margin-top: 0.5rem;
  /* margin-bottom: 1rem; */
  width: 525px;
  height: 2.2rem;
}

#submit {
  margin-top: 1.5rem;
  margin-left: 25%;
  justify-content: center;
  border-radius: 10px;
  border: 10px black;
  background-image: url(gambar/4f39e75a5133c1e139135c85ff946965.jpg);
  color: aliceblue;
  width: 250px;
  height: 2.2rem;
  font-size: medium;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  margin-bottom: 1rem;
}
#submit:hover {
  justify-content: center;
  border-radius: 10px;
  border: 10px black;
  color: black;
  width: 250px;
  height: 2.2rem;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
}

.handle {
  text-align: center;
  border-radius: 10px;
  border: none;
  background-image: url(gambar/4f39e75a5133c1e139135c85ff946965.jpg);
  color: aliceblue;
  width: 100px;
  height: 2.2rem;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 40.5%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.handle:hover {
  text-align: center;
  border-radius: 10px;
  border: 10px black;
  color: black;
  width: 100px;
  height: 2.2rem;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#hasil {
  margin-top: -0.5rem;
  margin-left: 3rem;
  justify-content: center;
  text-align: center;
  margin-right: 3rem;
  margin-bottom: -1rem;
}

.hide {
  display: none;
}

#input {
  justify-content: center;
  align-items: center;
  display: block;
  width: 525px;
}
